<div class="wrapper">
    <% @loans.each do |loan| %>
    <%= link_to loan do%>
    <div class="card">
      <div class="card-body">
        <p><%= loan.from.strftime("%A, %b %d") %> to
        <%= loan.to.strftime("%A, %b %d") %> </p>
       <p> £<%= loan.total_price %> </p>
      </div>
    </div>
    <% end %>
<% end %>
</div>



<div class ="text-center w-100">
<%= link_to "Back", jewelleries_path(@jewelleries), class: "button" %>
</div>
