<div class="wrapper">
    <% @loans.each do |loan| %>
    <%= link_to loan do%>
    <div class="card">
      <div class="card-body">
        <%= loan.from.strftime("%A, %b %d") %>|<%= loan.to.strftime("%A, %b %d") %> £<%= loan.total_price %>
      </div>
    </div>
    <% end %>
<% end %>
</div>
<div class ="wrap">
<button class ="button">
<%= link_to "Back", jewelleries_path(@jewelleries) %>
</button>
</div>


