<div class="wrapper">
    <% @loans.each do |loan| %>
    <%= link_to loan do%>
    <div class="card">
      <div class="card-body">
        <%= loan.from.strftime("%A, %b %d") %>|<%= loan.to.strftime("%A, %b %d") %> £<%= loan.total_price %>
      </div>
    </div>
    <% end %>
<% end %>
</div>
<div>
<%= link_to jewelleries_path(@jewellery) do %>
<button class="btn btn-primary ml-5">back</button>
<% end %>
</div>
