<div class="wrapper">
    <% @loans.each do |loan| %>
    <%= link_to loan do%>
    <div class="card">
      <div class="card-body">
        <%= loan.from %><%= loan.to %> £<%= loan.total_price %>
      </div>
    </div>
    <% end %>
<% end %>


</div>
<%= link_to "Back", jewelleries_path(@jewelleries) %>
