<h2 class = "rainbow-text"> Congratulations! Your loan is from <%= @loan.from %>
 to <%= @loan.to %> and will cost <%= @loan.price %>
 <%= link_to loan_path(@loan),
      method: :delete,
      data: { confirm: "Are you sure?" } do %>
      <i class="fas fa-minus-circle"></i></h2>
      <% end %>

<h2 class = "rainbow-text">   <%= link_to "Would you like to loan another item?" , jewelleries_path %> </h2>

 

<h2 class = "rainbow-text"> By loaning this item you have helped save the environment, thank you! </h2>


<%= link_to "Jewellery", jewellery_path(@loan.jewellery) %>
