
<br>
<h1 class="text-center gradient">Jewelleries</h1>
    <div class = "path">
    <%= form_tag jewelleries_path, method: :get do %>
  <%= text_field_tag :query,
    params[:query],
    class: "form-path",
    placeholder: "Find a jewellery"
  %>
  <br>
  <%= submit_tag "Search", class: "btn btn-primary" %>
<% end %>

<div class="row">
    <div class="col">
    <% if @query %>
        <p style = "color:pink;">You searched for <strong><%= @query %></strong>. We found <%= @jewelleries.count %> jewelleries out of our <%= Jewellery.count %> on our website.</p>
      <% else %>
        <p style = "color:pink;">All <%= Jewellery.count %> jewelleries.</p>
      <% end %>
    </div>
  </div>
  </div>
   <div class="wrapper">
    <% @jewelleries.each do |jewellery| %>
    <%= link_to jewellery do%>
    <div class="card">
      <% if jewellery.photos.attached? %>
      <div class="card-image" style="background-image: url('<%= cl_image_path jewellery.photos.first.key, height: 200, width: 300, crop: :fill %>')"></div>
      <% else %>
      <div class="card-image" style="background-image: url('https://loremflickr.com/400/400/jewellery')"></div>
      <% end %>
      <div class="card-body">
          <h5 style="color: pink;"><%= jewellery.name %></h5>
          <p style ="color pink;"> £ <%= jewellery.price %> per day </p>
      </div>
    </div>
    <% end %>
<% end %>
<div class="form-actions btun btn-primary">
<%= link_to 'New Jewellery', new_jewellery_path %>
</div>
</div>
<br>


