<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap" rel="stylesheet">
<div class = "card-show">
<p>
  <h2 class="jewellery" style="color: pink;"> <%=  @jewellery.name %></h2>
</p>


  <p style ="color:grey;"> <strong>Description:</strong>
  <%= @jewellery.description %> </p>


  <p style="color:grey;"> <strong>Price:</strong>
 £<%= @jewellery.price %> per day
</p>

</p>
</div>
<div class="show-image row">
<% @jewellery.photos.each do |photo| %>
  <div class="col-sm-12 col-md-6 col-lg-3"><%= cl_image_tag photo.key, height: 200, width: 300, crop: :fill %></div>
<% end %>
</div>
<div class="text-center">
<%= link_to jewelleries_path do %>
<div class="btn btn-primary mx-1">back</div>
<% end %>
<%= link_to edit_jewellery_path do %>
<div class="btn btn-primary mx-1"><p>edit</p></div>
<% end %>
<%= link_to @jewellery, method: :delete, data: { confirm: 'Are you sure?'} do %>
<div class="btn btn-primary mx-1">delete</div>
<% end %>
</div>
<br>

<% if @jewellery.loan %>
<h4 class="text-center"><%= link_to "SHOW LOAN", loan_path(@jewellery.loan) %></h4>
<% else %>
<h4 class="text-center"><%= link_to "NEW LOAN", new_jewellery_loan_path(@jewellery) %></h4>
<% end %>
